.app-list {
  width: 23%;
  margin-top: 20px;
  margin-right: 20px;
  list-style-type: none;
}

.picture {
  height: 165px;
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.paragraph {
  font-family: 'Roboto';
  text-align: center;
}
